<!DOCTYPE html>
<html>
<head>
<title>LIGHT FRAME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<link href="static/toggleSwitch.css" rel="stylesheet">
<link href="static/slider.css" rel="stylesheet">
<link href="static/main.css" rel="stylesheet">
<link href="static/gallery.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script type ="text/javascript" src="static/scripts/onOff.js"></script> -->
</head>
<!-- onload="buildList()" -->
<body onload= "buildList()">
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button" style="font-family:'Oswald', sans-serif"><b>LIGHT</b> FRAME</a>
    <div class="w3-right w3-hide-small">
      <a href="#Controls" class="w3-bar-item w3-button" style="font-family:'Oswald', sans-serif">Controls</a>
      <a href="#Presets" class="w3-bar-item w3-button" style="font-family:'Oswald', sans-serif">Presets</a>
      <a href="#Custom" class="w3-bar-item w3-button" style="font-family:'Oswald', sans-serif">Custom</a>
    </div>
  </div>
</div>


<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" img src="static/Images/temp2.png" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white" style="font-family:'Oswald', sans-serif"><b>LIGHT</b></span> <span class="w3-hide-small w3-text-light-grey">FRAME</span></h1>
  </div>
</header>


<div class="w3-content w3-padding" style="max-width:1564px">

  
  <div class="w3-container w3-padding-32" id="Controls">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" style="font-family:'Oswald', sans-serif">Controls</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Power</div>
        <br><br><br>
        <label class="toggle">
          <input class="toggle-checkbox" type="checkbox">
          <div class="toggle-switch" id="lightsOn"></div>
          <span class="toggle-label" >LED Frame</span>
        </label>
        <hr>
        <label class="toggle">
          <input class="toggle-checkbox" type="checkbox">
          <div class="toggle-switch" id="backLightsOn"></div>
          <span class="toggle-label">Back Lighting</span>
        </label>
      </div>
      
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topright w3-black w3-padding">Brightness</div>
      </div>
      <br><br><br>
          <div class="brightness-box">
              <i class="far fa-sun"></i>
              <input type="range" id="range" min="0" max="225" value="15">
              <i class="fas fa-sun"></i>
          </div>
    </div>
    </div>
  </div>
 
  <div class="w3-container w3-padding-32" id="Presets">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" style="font-family:'Oswald', sans-serif">Presets</h3>
    <div id="output"></div>
    <div id="output2"></div>
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="static/Images/astro.png">
          <img class="image pixelated" src="static/Images/astro.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <button class="btn" onclick="handleClick('/play',['static/Images/astro.png'])">Play</button>
      </div>
    </div>
    
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="static/Images/cat.png">
          <img class="image pixelated" src="static/Images/cat.png" alt="Forest" width="600" height="400">
        </a>
        <button class="btn" onclick="handleClick('/play',['static/Images/cat.png'])">Play</button>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="static/Images/pixil-frame-0 (1).png">
          <img class="image pixelated" src="static/Images/pixil-frame-0 (1).png" alt="Northern Lights" width="600" height="400">
        </a>
        <button class="btn" onclick="handleClick('/play',['static/Images/pixil-frame-0 (1).png'])">Play</button>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="static/Images/pixil-frame-0 (2).png">
          <img class="image pixelated" src="static/Images/pixil-frame-0 (2).png" alt="Mountains" width="600" height="400">
        </a>
        <button class="btn" onclick="handleClick('/play',['static/Images/pixil-frame-0 (2).png'])">Play</button>
      </div>
    </div>
  </div>
 
  <div class="w3-container w3-padding-32" id="Custom">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" style="font-family:'Oswald', sans-serif">Custom</h3>
    <div class="sitecontainer">
      <div class="card">
        <h4>Upload Files</h4>
        <div class="drop_box">
          <header>
            <h4>Select File here</h4>
          </header>
          <form method="POST" enctype="multipart/form-data" action="/upload">
          <p>Files Supported: .png, .jpg, .gif, .mp4</p>
          <input type="file" id="myFile" name="uploaded-file" accept=".png, .jpg, .gif, .mp4" multiple>
          <input type="submit" value="Submit" class="btn" id ="upload">
          </form>
        </div>
      </div>
    </div>

    <div id="container">
      <!-- <form> -->
          <label for="list">Custom List:</label>
          <select id="list" name="list" multiple></select>
          <button id="selectImgs">Play Selected Files</button>
          <label for="frames">Time between Images (For Slideshows) (0-300):</label>
          <input type="number" id="frames" name="frames" min="0" max="300" value="0" />
          <br> <br>
          <button id="setTime">Set Time</button>
          <br> <br>
          <button id="btnRemove">Remove Selected Files</button>
      <!-- </form> -->
  </div>
<footer class="w3-center w3-black w3-padding-16">

</footer>
<script>
var frameButton = document.getElementById('lightsOn');
let frameButtonClicked = false;
var backLightButton = document.getElementById('backLightsOn');
let backLightButtonClicked = false;

frameButton.addEventListener('click', function(){handleClick('/FrameLights');});
backLightButton.addEventListener('click', function(){handleClick('/BackLights');});

rangeInput = document.getElementById("range");
container = document.getElementsByClassName("container")[0];
rangeInput.addEventListener("change", function() {
  $.ajax({
    url: '/Brightness',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({ 'value': (rangeInput.value/225) }),
    success: function(response) {
      document.getElementById('output').innerHTML = response.result;
    },
    error: function(error) {
      console.log(error);
    }
  });
});

function handleClick(url, stat) {
  if(url == '/FrameLights'){
    frameButtonClicked = !frameButtonClicked;
    stat = frameButtonClicked;
  }
  else if(url == '/BackLights'){
    backLightButtonClicked = !backLightButtonClicked;
    stat = backLightButtonClicked;
  }
  else{
    stat = stat;
  }

  $.ajax({
    url: url,
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({ 'value': stat }),
    success: function(response) {
      document.getElementById('output').innerHTML = response.result;
    },
    error: function(error) {
      document.getElementById('output').innerHTML = "error";
    }
  });
}

function buildList(){
  $.ajax({
    url: '/load',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({ 'value': 'load' }),
    success: function(response) {
      response.result.forEach(bt);

    },
    error: function(error) {
      document.getElementById('output').innerHTML = "error";
    }
  });
  
}

const btnRemove = document.querySelector('#btnRemove');
const listbox = document.querySelector('#list');

function bt(e){

  const option = new Option(e, e);
  listbox.add(option, undefined);
};

// remove selected option
btnRemove.onclick = (e) => {
  e.preventDefault();

  // save the selected options
  let selected = [];
  let remove = [];

  for (let i = 0; i < listbox.options.length; i++) {
    selected[i] = listbox.options[i].selected;
  }

  // remove all selected option
  let index = listbox.options.length;
  let j = 0;
  while (index--) {
    if (selected[index]) {
      remove[j] = listbox.options[index].text;
      j++;
      listbox.remove(index);
    }
  }

  $.ajax({
    url: '/delete',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({ 'value': remove }),
    success: function(response) {
      document.getElementById('output').innerHTML = "success";

    },
    error: function(error) {
      document.getElementById('output').innerHTML = "error";
    }
  });
  
};

selectImgs.onclick = () => {
  // save the selected options
  let selected = [];
  let chosen = [];
  
  for (let i = 0; i < listbox.options.length; i++) {
    selected[i] = listbox.options[i].selected;
  }

  

  let index = listbox.options.length;
  let j=0
  while (index--) {
    console.log(index)
    if (selected[index]) {
      chosen[j] = listbox.options[index].text;
      j++;
    }
  }

  $.ajax({
    url: '/play',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({ 'play': chosen }),
    success: function(response) {
      document.getElementById('output').innerHTML = "success";

    },
    error: function(error) {
      document.getElementById('output').innerHTML = "error";
    }
  });
  
};

setTime.onclick = () => {
  $.ajax({
    url: '/play',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({ 'num': document.getElementById("frames").value }),
    success: function(response) {
      document.getElementById('output').innerHTML = "success";

    },
    error: function(error) {
      document.getElementById('output').innerHTML = "error";
    }
  });
  
};
</script>
</body>
</html>
